<form id="facebookForm" method="post" enctype="multipart/form-data">
  <input type="file" id="image" name="image" accept="image/*" required />
  <input type="text" id="title" name="title" placeholder="Título" required />
  <textarea
    id="description"
    name="description"
    placeholder="Descripción"
    required></textarea>
  <button type="submit">Publicar en Facebook</button>
</form>

<script>
  const form = document.getElementById("facebookForm");

  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const description = document.getElementById("description").value;
    try {

      // Crear la publicación
      const postData = {
        message: description,
        access_token: "624216220526828|U0mNGKpE-ZNy3tvivws7DLFGARU",
      };

      const postResponse = await fetch(
        `https://graph.facebook.com/${61572556524376}/feed`,
        {
          method: "POST",
          body: new URLSearchParams(postData),
        }
      );

      const postResult = await postResponse.json();

      if (postResult.error) {
        alert("Error al crear la publicación: " + postResult.error.message);
      } else {
        alert("Publicación realizada correctamente.");
      }
    } catch (error) {
      alert("Error al realizar la publicación: " + error.message);
    }
  });
</script>
