<section class="backdrop-blur-sm shadow-xl rounded-full">
  <h1
    class="flex items-center justify-center text-4xl md:text-6xl font-special w-fit h-28 px-3"
  >
    M<span class="relative -left-2 font-specialVariant mr-5 italic"
      >ultipartes</span
    >
    Garcia ´<span
      class="relative font-specialVariant inline-block rotate-[13deg] top-1 right-3 md:top-2 md:right-5 text-5xl md:text-7xl"
      >s</span
    >
  </h1>
</section>
